.footer__column-link {
   color: #ffffff;
   text-decoration: none;
   line-height: 30px;
   font-size: 18px;
   font-weight: normal;
 }
 .footer__column-link:hover {
   color: #ffffff;
   text-decoration: none;
   line-height: 30px;
   font-size: 18px;
   font-weight: normal;
   /* color: aqua; */
   opacity: calc(0.3);
   transition: 0.7s ease-out;
 }