.footer__column_content_copyright {
   display: flex;
   flex-direction: row;
   align-content: flex-end;
   justify-content: space-between;
   align-items: stretch;
   flex-wrap: wrap;
   flex-basis: 711px;
}