.khan__buy-link {
   line-height: 42px;
   font-size: 30px;
   font-weight: normal;
   text-decoration: none;
}
.khan__buy-link:hover {
   line-height: 42px;
   font-size: 30px;
   font-weight: normal;
   text-decoration: none;
   /* color: aqua; */
   opacity: calc(0.3);
   transition: 0.7s ease-out;
}